label{
  font-weight: bold;
  color: black;
  font-size: 12px;
  letter-spacing: 0cm;
  text-transform: none;
}
.form-section{
  color: green;
  font-size: 18px;
}
.badge{
  background-color:lightseagreen;
  color: white;
  margin: 2px;
  padding: 5px;
}
.srvSelected{
  background-color:steelblue;
  cursor: pointer;
}
.ft{
  color: white;  
  cursor: pointer;
}
.Selected{
  background-color: slateblue;
}
.list-group-item{
  cursor: pointer;
}
input{
  color: blue;
}
.services-card{
  border: 1px lightseagreen solid;
  border-radius: 10px;
}
.services-card-body{  
  padding-left: 20px;
}
.card{
  font-size: 14px;
}
h2{
  color: green;
}