<div class="row">
  <div class="col-lg-6 col-md-6">
    <iframe class="my-1 mx-0" width="600" height="600" src="https://www.youtube.com/embed/RKe96PMgvnw?rel=0&autoplay=1&showinfo=0&controls=0&loop=1&enablejsapi=1&mute=1"
      frameborder="0"></iframe>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="row">
      <div *ngFor="let dept of departments" class="px-1 col-lg-12 col-md-12">
        <div class="card my-1 mx-0">
          <div class="py-0 card-header white bg-success">
            <h3 class="py-0 my-0 text-center">{{dept.DeptName}} </h3>
          </div>
          <div class="border-info py-0 card-body">
            <table class="table">
              <thead>
                <tr class="bg-info d-flex">
                  <th class="py-0 font-medium-1 text-bold-500 text-center col-4">Ticket</th>
                  <th class="py-0 font-medium-1 text-bold-500 text-center col-4">Window</th>
                  <th class="py-0 font-medium-1 text-bold-500 text-center col-4">Services</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tck of dept.tickets" class="d-flex">
                  <td class="font-large-1 text-center col-4 py-1">{{tck.ServiceNo}}</td>
                  <td class="font-large-1 text-center col-4 py-1">{{tck.ProvWindow}}</td>
                  <td class="font-large-1 text-center col-4 py-1">12</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
