<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-blue bg-lighten-1">
        <div class="card-header">
          <h3 class="card-title">Active Tickets</h3>
        </div>
        <div class="card-body">
          <div class="px-3">
            <div *ngIf="!tickets || tickets.length <= 0" class="alert alert-info">
              No Active tickets to be viewed.
            </div>
            <ngb-tabset type="pills" orientation="horizontal" justify="fill" *ngIf="tickets && tickets.length > 0">
              <ngb-tab *ngFor="let tkt of tickets" [id]="tkt.QID" [title]="tkt.ServiceNo">
                <ng-template ngbTabContent>
                  <dl class="row">
                    <dt class="col-sm-3">Company:</dt>
                    <dd class="col-sm-9">{{tkt.CompName}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Branch:</dt>
                    <dd class="col-sm-9">{{tkt.BranchName}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Department:</dt>
                    <dd class="col-sm-9">{{tkt.DeptName}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Booking Date:</dt>
                    <dd class="col-sm-9">{{tkt.RequestDate | date: 'mediumDate'}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Visit Date:</dt>
                    <dd class="col-sm-9">{{tkt.VisitDate | date: 'mediumDate'}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Current Visit State:</dt>
                    <dd class="col-sm-9">{{tkt.QStatus}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Estimated visit time::</dt>
                    <dd class="col-sm-9">{{tkt.visTimeChngd | date: 'shortTime'}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Ticket Unique No:</dt>
                    <dd class="col-sm-9">{{tkt.UniqueNo}}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Branch Address:</dt>
                    <dd class="col-sm-9">{{tkt.BranchAddress }}</dd>
                  </dl>
                  <dl class="row">
                    <dt class="col-sm-3">Requested Services:</dt>
                    <dd class="col-sm-9">
                      <table class="table table-brdered table-hover">
                        <colgroup>
                          <col width="25%" />
                          <col width="25%" />
                          <col width="50%" />
                        </colgroup>
                        <thead>
                          <tr>
                            <th>Service</th>
                            <th>Count</th>
                            <th>Notes</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sr of tkt.Services">
                            <td>{{sr.ServName}}</td>
                            <td>{{sr.ServCount}}</td>
                            <td>{{sr.Notes}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </dd>
                  </dl>
                  <div class="row justify-content-center">
                    <button class="col-sm-4 btn btn-lg btn-raised btn-primary" (click)="CancelTicket(tkt)"> Cancel This Ticket </button>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
