<!-- Company Component Starts -->
<section id="horizontal-form-layouts">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="alert alert-info" role="alert">
                    <div class='col-md-offset-1 col-md-10'>
                        <h3>
                            <i class="ft-user"></i> Company Info</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" (ngSubmit)="OnSubmit()">
                            <div class="form-body">
                                <div class='row'>
                                    <div class='col-sm-offset-1 col-10'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="CompName">Company Name</label>
                                            <input class="form-control input-md" formControlName="CompName" id="CompName" type="text" placeholder="Company Name">
                                            <small class="form-text text-muted danger" *ngIf="!CompName.valid && (CompName.dirty || CompName.touched)">
                                                <div *ngIf="CompName.errors.required">Company Name is required. </div>
                                                <div *ngIf="CompName.errors.minlength">Company must be at least 5 Characters. </div>
                                            </small>
                                        </div>

                                        <div class="row">
                                            <div class='col-xs-12 col-sm-6'>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="Country">Country</label>
                                                    <select class="form-control input-md" formControlName="Country" id="Country">
                                                        <option value>Select your Country</option>
                                                        <option *ngFor="let Country of countries" [value]="Country.code">{{Country.name}} </option>
                                                    </select>
                                                    <small class="form-text text-muted danger" *ngIf="!Country.valid && (Country.dirty || Country.touched)">Please select a country!</small>
                                                </div>
                                            </div>

                                            <div class='col-12 col-sm-6'>
                                                <div class="form-group form-group-style">
                                                    <label class="form-control-label" for="City">City</label>
                                                    <select class="form-control input-md" formControlName="City" id="City" type="text">
                                                        <option value>Select the Main City</option>
                                                        <option *ngFor="let City of cities" [value]="City.name">{{City.name}}</option>
                                                    </select>
                                                    <small class="form-text text-muted danger" *ngIf="!City.valid && (City.dirty || City.touched)">Please select a city!</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="DefaultLanguage">Default Language</label>
                                            <select class="form-control input-md" formControlName="DefaultLanguage" id="DefaultLanguage" type="text" placeholder="Company Name">
                                                <option value>Select your default language</option>
                                                <option *ngFor="let language of languages" [value]="language.name">{{language.name}}</option>
                                            </select>
                                            <small class="form-text text-muted danger" *ngIf="!DefaultLanguage.valid && (DefaultLanguage.dirty || DefaultLanguage.touched)">
                                                <div *ngIf="DefaultLanguage.errors.required">Default Language is required. </div>
                                            </small>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="WorkField">WorkField</label>
                                            <select class="form-control input-md" formControlName="WorkField" id="WorkField" type="text" placeholder="WorkField">
                                                <option value>Select Work field.</option>
                                                <option *ngFor="let workField of workfields" [value]="workField">{{workField}} </option>
                                            </select>
                                            <small class="form-text text-muted danger" *ngIf="!WorkField.valid && (WorkField.dirty || WorkField.touched)">
                                                <div *ngIf="WorkField.errors.required">Workfield is required. </div>
                                            </small>
                                        </div>
                                    </div>
                                    <div class='col-md-offset-1 col-md-10'>
                                        <br>
                                        <h4 class="form-section">
                                            <i class="ft-mail"></i> Contact Info & Bio</h4>
                                        <br>
                                    </div>
                                    <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="CompAddress"> Address</label>
                                            <textarea class="form-control input-md" formControlName="CompAddress" id="CompAddress" type="text" placeholder="Address"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class='col-xs-12 col-sm-4'>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="Phone">Phone</label>
                                                    <input class="form-control input-md" formControlName="Phone" id="Phone" type="text" placeholder="phone">
                                                </div>
                                            </div>
                                            <div class='col-xs-12 col-sm-4'>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="Fax">Fax</label>
                                                    <input class="form-control input-md" formControlName="Fax" id="Fax" type="text" placeholder="fax">
                                                </div>
                                            </div>
                                            <div class='col-xs-12 col-sm-4'>
                                                <div class="form-group form-group-style">
                                                    <label class="form-control-label" for="Mobile">Mobile</label>
                                                    <input class="form-control input-md" formControlName="Mobile" id="Mobile" type="text" placeholder="mobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class='col-xs-12 col-sm-6'>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="Website">Website</label>
                                                    <input class="form-control input-md" formControlName="Website" id="Website" type="text" placeholder="website">
                                                </div>
                                            </div>
                                            <div class='col-12 col-sm-6'>
                                                <div class="form-group form-group-style">
                                                    <label class="form-control-label" for="Email">Email</label>
                                                    <input class="form-control input-md" formControlName="Email" id="Email" type="text" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="form-control-label" for="Description">Description</label>
                                            <textarea class="form-control input-md" formControlName="Description" id="Description" type="text" placeholder="Tell us more about your company"></textarea>
                                        </div>                                        
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success btn-raised" [disabled]="!form.valid">
                                            Next
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Company Component Ends -->