.full-length{
    width:80%;
}
.card{
    padding: 20px;    
}

mat-form-field{
    margin: 10px;
}

mat-card-header{    
    margin: 1px;
    padding: 10px;
    color: steelblue;    
    background-size: cover;
}

mat-card-content{
    padding: 2px;
    margin: 2px;
    color: purple;
}